.parallax{
    width: 83vw;
    height: 42vh;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    /* border: white 1px solid; */
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100vw 135vh;
    /* background-position: 70% 50%; */
    background-position: -1059% 125%;
}

.cards{
    margin-top: -35px;
    background-color: rgb(24, 25, 25);
    width: 83vw;
    /* z-index: 1; */
    /* top: 45; */
    /* border: 2px solid red; */
    /* transform: translateY(-px); */
    /* add a y scroll bar */
    
}

.artist_name{
    font-size: 70px;
    font-weight: bolder;
    color: white;
    margin-left: 10px;
    background-color: rgb(24, 25, 25);
}

