.song_card {
    margin-right: 18.5px;
    display: flex;
    flex-direction: row;
    width: 1400px;
    height: 80px;
    margin-top: 10px;
    border: none;
    border-radius: 8px;
  }
  
  .song_card:hover {
    margin-right: 18.5px;
    display: flex;
    flex-direction: row;
    width: 1400px;
    height: 80px;
    margin-top: 10px;
    border: none;
    background-color: rgba(90, 88, 88, 0.505);
    border-radius: 8px;
  }
  
  .album_image {
    position: relative;
    display: inline-block;
    padding-top: 10px;
    width: 145px;
    height: 150px;
    align-self: center;
  }
  
  .fav-icon {
    position: absolute;
    display: block;
    width: 40px;
    height: 40px;
    right: 5px;
    top: 10px;
    z-index: 5;
    background-color: rgba(91, 144, 91, 0);
    border-radius: 50%;
    opacity: 1;
    transition: opacity 300ms ease-in;
  }
  
  .fav-icon-favorite {
    position: absolute;
    display: block;
    width: 40px;
    height: 40px;
    right: 5px;
    top: 10px;
    z-index: 5;
    background-color: rgb(17, 97, 17);
    border-radius: 50%;
    opacity: 1;
    transition: opacity 300ms ease-in;
  }
  
  .fav-icon:hover {
    width: 42px;
    height: 42px;
  }
  
  .fav-icon-hidden {
    position: absolute;
    display: block;
    width: 40px;
    height: 40px;
    right: 5px;
    top: 10px;
    background-color: rgba(91, 144, 91, 0);
    border-radius: 50%;
    opacity: 0;
    transition: opacity 300ms ease-out;
  }
  
  .play-button {
    position: absolute;
    display: block;
    width: 40px;
    height: 40px;
    right: 5px;
    bottom: 10px;
    z-index: 5;
    background-color: rgb(91, 144, 91);
    border-radius: 50%;
    opacity: 1;
    transition: opacity 300ms ease-in;
  }
  
  .play-button-hidden {
    position: absolute;
    display: block;
    width: 40px;
    height: 40px;
    right: 5px;
    bottom: 10px;
    background-color: rgb(91, 144, 91);
    border-radius: 50%;
    opacity: 0;
    transition: opacity 300ms ease-out;
  }
  
  .play-button:hover {
    width: 42px;
    height: 42px;
  }
  
  .track-image {
    width: 50px;
    height: 50px;
    align-self: center;
    border-radius: 5px;
  }
  
  .number {
    align-self: center;
    width: 100px;
  }
  
  .title {
    text-align: left;
    padding-left: 15px;
    width: 650px;
  }
  
  .album {
    text-align: left;
    align-self: center;
    width: 500px;
  }
  
  .duration {
    width: 100px;
  }
  