.popular_songs {
  text-align: left;
  font-size: 19px;
  color: white;
  background-color: black;
  height: 200px;
  padding-left: 10px;
  width:75%
  
}

.song_card {
  background: gray;
  height: 60px;
  display: flex;
  
}
/* .song_card:hover{
    background-color: gray;
} */

.list_number {
    margin-left: 15px;
}

/* .list_number:hover{
    width: 0; 
    height: 0; 
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid white;
} */

.album_image {
    margin-left: 20px;
}

.song_name{
    margin-left: 20px;
}

.times_played{
    margin-left: 20px;
}

.song_duration{
    margin-left: 20px;
}